@import "tailwindcss";

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: "Inter", sans-serif;
  max-width: 1522px;
}

.ul {
  max-height: 600px;
  overflow-y: auto;
  padding-right: 16px;
}

.ul::-webkit-scrollbar {
  width: 0;
}

/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}
